- links.each do |link|
  .field(data-name="#{link['rel']}")
    .head
      = link['method'] || 'GET'
      = link['href']
      %small= link['rel']
      - if link['properties']
        .pull-right
          %small URL Params
          %i.icon-chevron-down
    - if link['properties']
      .props
        %pre
          - link_url, link_params = "/api/#{link['href']}", []
          - link['properties'].keys.sample(2).map{|prop_name| link_params << "<strong>#{prop_name}</strong>=Value" }
          = "#{link_url}?#{link_params.join('&')}"

        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Name
              %th.obj_type Type
              %th Description / Example
          - link['properties'].each do |name, prop|
            %tbody
              %tr
                %td
                  = name
                  = " *" if prop['required']
                %td
                  = prop['type']
                  - if prop['format']
                    %small= "(#{prop['format']})"
                  -if prop['enum']
                    %small="(enum)"
                    %br
                    %small= "[#{prop['enum'].join(', ')}]"
                  - if prop['dependencies']
                    %small= " - Depends on: #{prop['dependencies'].join(', ')}"
                %td
                  %p=prop['description']
